{% extends "./homepage.html" %}
{% block title %} 退货管理 {% end %}

{% block content %}
  
            <!-- block content -->
            <div class="row-fluid">
              <div class="span5">
  <form class="form-inline">
    <fieldset>
      <div id="legend" class="">
        <legend class="">退货单</legend>
      </div>
      <label class="control-label" for="input01">商品编号</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>
          <label class="control-label" for="input01">商品名称</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>
     
         <label class="control-label" for="input01">客户名称</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>

     <label class="control-label" for="input01">数量</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>

    <label class="control-label" for="input01">售价</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>

    <label class="control-label" for="input01">金额</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-large">
          </div>
<label class="control-label"></label>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary btn-large">添加</button>
          </div>
    </fieldset>
  </form>

              </div>
              <div class="span7">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
             <tr>
                <th>编号</th>
                <th>名称</th>
                <th>客户</th>
                <th>数量</th>
                <th>单位</th>
                <th>售价</th>
                <th>金额</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>TB</td>
                <td>zhangsan</td>
                <td>20</td>
                <td>kg</td>
                <td>2.0</td>
                <td>40.0</td>
              </tr>                   
            </tbody>
            <tfoot>
              <tr>
                <td colspan='2'>总额</td>
                <td colspan='5'>tandan</td>                               
              </tr>              
            </tfoot>
          </table>

              </div>
            </div>
            <!-- end block content -->
{% end %}
